* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

 ::ng-deep :root {
    --orange: #f1b814;
    --pink: #bd1e51;
    --purple: #490b3d;
}

body {
    height: 90vh;
    background: #e1edf9;
}

.form {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.login_card {
    max-width: 350px;
    width: 100%;
    padding: 10px;
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.login_card h1 {
    text-align: center;
    color: var(--pink);
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


/* mat-form-field{
    font-size:20px;
  } */

.login_card .google,
.login_card .signin {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    margin: 20px 0;
    background-color: var(--pink);
    color: white;
}

.login_card .signin:hover {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.separate {
    display: inline-block;
}