<div class="product">
    <div class="product-img">
        <img src="{{details.images}}" alt="">
        <!-- <span class="tag">new</span> -->
    </div>
    <div class="product-listing">
        <div class="content">
            <h1 class="name">{{details.name}}</h1>
            <p class="info">{{details.description}}</p>
            <p class="price">{{details.charges}}</p>
            <p class="price">{{details.travellingcharges}}</p>
            <div class="btn-and-rating-box">
                <div class="rating">
                    <img src="https://github.com/kunaal438/product-page/blob/master/img/star.png?raw=true" alt="">
                    <img src="https://github.com/kunaal438/product-page/blob/master/img/star.png?raw=true" alt="">
                    <img src="https://github.com/kunaal438/product-page/blob/master/img/star.png?raw=true" alt="">
                    <img src="https://github.com/kunaal438/product-page/blob/master/img/star.png?raw=true" alt="">
                    <img src="https://github.com/kunaal438/product-page/blob/master/img/star%20stroke.png?raw=true" alt="">
                </div>
                <button class="btn">buy now</button>
            </div>
        </div>
    </div>
</div>