<nav>
    <div class="nav_bar">
        <i class="fa-solid fa-bars sidebarOpen" (click)="toggle2()"></i>
        <span class="logo"><a href="">Karma</a></span>

        <div class="menu" [class.show]="close">
            <div class="logo_toggle">
                <span class="logo"><a href="" routerLink="" style="color:white">Karma</a></span>
                <i class="fa-solid fa-x sidebar" (click)="toggle2()"></i>
            </div>

            <ul class="nav_links">

                <li class="link_items"><a routerLink="services" href="">EQUIPMENTS</a></li>

                <li class="link_items"><a routerLink="storage" href="">STORAGE</a></li>
                <li class="link_items"><a routerLink="contract-farming" href="">CONTRACT-FARMING</a></li>
                <li class="link_items"><a routerLink="customers">CUSTOMERS</a></li>
                <li>
                    <div class="dropdown">
                        <i class="fa-solid fa-user" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <!-- <li><a *ngIf='!isLoggedIn()' class="dropdown-item" routerLink="sign-up">Signup</a></li> -->
                            <li><a *ngIf='!isLoggedIn()' class="dropdown-item" routerLink="sign-in">Signin</a></li>
                            <li><a *ngIf='isLoggedIn()' class="dropdown-item" (click)="openDialog()">Signout</a></li>
                            <!-- <button *ngIf='isLoggedIn()'class="dropdown-item" mat-button >SignOut</button> -->

                            <!-- <li><a *ngIf='isLoggedIn()' class="dropdown-item"  routerLink="history">History</a></li> -->
                        </ul>
                    </div>
                </li>
            </ul>
        </div>






        <div class="darkLight_searchbox">
            <div class="searchbox">
                <div class="searchToggle" [class.active]="appear" (click)="toggle()">
                    <i class="fa-solid fa-x cancel"></i>
                    <i class="fa-solid fa-magnifying-glass search"></i>
                </div>
                <div class="search_field" [class.active]="appear">
                    <input type="text" placeholder="Search..." autocomplete="off">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

        </div>
    </div>
</nav>