<div>
    <h1 style="text-align: center;">Update Storage</h1>
</div>
<div class="container">
    <!-- <p>Please select your type of storage :</p>
    <select class="form-control" [(ngModel)]="editStorage.storageId">
         <option value="{{item._id}}" *ngFor="let item of storages">{{item.name}}</option>
     </select> <br> -->
    <p>Availability :</p>
    <input type="radio" id="true" name="Availability" value="true">
    <label for="true">True</label><br>
    <input type="radio" id="false" name="Availability" value="false">
    <label for="false">False</label><br>

    <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="editStorage.name" type="text" class="form-control" placeholder="{{result.name}}">
    </div>
    <div class="form-group">
        <label>Storage Description</label>
        <input [(ngModel)]="editStorage.storage_description" type="text" name="image" class="form-control" placeholder="{{result.storage_description}}">
    </div>
    <div class="form-group">
        <label>Capacity</label>
        <input [(ngModel)]="editStorage.capacity" type="text" class="form-control" placeholder="{{result.capacity}}">
    </div>
    <div class="form-group">
        <label>Location</label>
        <input [(ngModel)]="editStorage.location" type="text" name="image" class="form-control" placeholder="{{result.location}}">
    </div>
    <div class="form-group">
        <label>Image</label>
        <input (change)="selectimage($event)" type="file" name="image" class="form-control" placeholder="Image">
    </div>
    <br>
    <div class="form-group">
        <button (click)="updatestorage()" class="btn btn-success">Update</button>
        <button class="btn btn-success" type="reject" (click)="cancel()">Cancel</button>
    </div>
</div>