<div>
    <h1 style="text-align: center;">Update Item</h1>
</div>



<div class="container">
    <!-- <p>Please select your stoarge name :</p>
    <select class="form-control" [(ngModel)]="additem.sid">
         <option value="{{item._id}}" *ngFor="let item of storages">{{item.name}}</option>
     </select> <br> -->
    <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="updateItem.name" type="text" name="name" class="form-control" placeholder="name">
    </div>
    <div class="form-group">
        <label>Weight</label>
        <input [(ngModel)]="updateItem.weight" type="text" name="Weight" class="form-control" placeholder="Weight">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input [(ngModel)]="updateItem.description" type="text" name="description" class="form-control" placeholder="description">
    </div>

    <div class="form-group">
        <label>Tempreture</label>
        <input [(ngModel)]="updateItem.temperature" type="text" name="tempreature" class="form-control" placeholder="tempreature">
    </div>
    <div class="form-group">
        <label>Charges</label>
        <input type="text" [(ngModel)]="updateItem.charges" name="charge" class="form-control" placeholder="charge">
    </div>
    <br>
    <div class="form-group">
        <button (click)="additems()" class="btn btn-success">Update</button>
        <button (click)="cancel()" class="btn btn-danger">Cancel</button>
    </div>
</div>