<div class="container-fluid" style="margin: 0;padding:0;">
    <div class="banner">
        <hr>
        <h1>Requsts for Contract-Farming</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic odio beatae quam illum soluta saepe aperiam autem perspiciatis! Minima eligendi possimus ipsum eveniet dignissimos quibusdam doloribus quod nostrum, asperiores nobis.</p>
    </div>
</div>


<div class="container">

    <div *ngFor="let item of requests |
     paginate:{itemsPerPage:5,
        currentPage:page,
    totalItems:totalLength
}" class="row cards2">
        <div class="col-lg-6 col-md-6 col-sm-12 left2">
            <img src="{{item.image}}" alt="" class="left2_img">
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 p-2 right2">
            <h4>Owner : {{item.name}}</h4>
            <h4>Contact : {{item.mobile}}</h4>
            <h4>Area : {{item.Area}}</h4>
            <h4>Duration : {{item.duration}}</h4>
            <p class="description">Description : {{item.description}}</p>

            <button class="view_more" (click)="approve(item._id)">Approved</button>
            <button class="view_more" (click)="cancel(item._id)">Cancel</button>
        </div>
    </div>
    <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
</div>